header {
    background-image: linear-gradient(141deg,rgba(158, 0, 55, 0.88) 0,rgba(0, 129, 209, 0.63) 71%,rgba(0, 235, 181, 0.67) 100%), url('../img/versutian-blurred.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff
}

.dark-site {
    background-color: #263238;
    color: #ECEFF1
}

.dark-site a {
    color: #607D8B
}

.pass-header {
    line-height: 1; letter-spacing: -.05rem;
}

.thick {
    font-weight: 600
}

#navbar-cont {
    display: block
}

.navbar-nav {
    display: inline-block;
}

.brown_background {
    background-color: #BCAAA4
}

.brown_background:hover {
    background-color: #BCAAA4
}

.purple_background {
    background-color: #6A1B9A;
    color: #fff !important
}

.purple_background:hover {
    background-color: #6A1B9A;
    color: #fff !important
}

.gray_background {
    background-color: #9E9E9E
}

.gray_background:hover {
    background-color: #9E9E9E
}

.common_gradient {
    background-image: linear-gradient(90deg, #C6FF00,#BCAAA4 50%);
}

.common_gradient:hover {
    background-image: linear-gradient(90deg, #C6FF00,#BCAAA4 50%);
}

.navbarDropdownLinkSpan {
    font-size: 20px
}

#navbarDropdownMenuLink {
    color: #000
}

.navbar-dark #navbarDropdownMenuLink {
    color: #fff
}

.navbar-brand {
    margin-right: 0
}

.flag {
  max-height: 39px;
  max-width: 60px
}

.effect {
    max-height: 39px;
}

.big-item {
    padding-top: 17.5vh;
    min-height: 40vh;
}

.slate_background {
    background-image: linear-gradient(141deg,rgb(38,50,56) 0,rgb(84,110,122) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff !important;
}

.slate_background:hover {
    color: #fff !important;
}

.firey_passion {
    background-image: linear-gradient(141deg,rgba(236, 64, 122, 0.88) 0,rgba(194,24,91, 0.67) 100%), url('../img/firey_passion.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff !important;
}

.firey_passion:hover {
    color: #fff !important
}

.anime_background {
    background-image: repeating-radial-gradient(rgba(248, 12, 18, 0.2),
    rgba(238, 17, 0, 0.2),
    rgba(255, 51, 17, 0.2),
    rgba(255, 68, 34, 0.2),
    rgba(255, 102, 68, 0.2),
    rgba(255, 153, 51, 0.2),
    rgba(254, 174, 45, 0.2),
    rgba(204, 187, 51, 0.2),
    rgba(208, 195, 16, 0.2),
    rgba(170, 204, 34, 0.2),
    rgba(105, 208, 37, 0.2),
    rgba(34, 204, 170, 0.2),
    rgba(18, 189, 185, 0.2),
    rgba(17, 170, 187, 0.2),
    rgba(68, 68, 221, 0.2),
    rgba(51, 17, 187, 0.2),
    rgba(59, 12, 189, 0.2),
    rgba(68, 34, 153, 0.2)), url('../img/anime.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff !important;
    text-shadow: 0 0 10px #6A1B9A;
    padding-left: 0;
    padding-right: 0;
}

.anime_background:hover {
    color: #fff !important
}

.anime_background .d-flex {
    padding-left: 20px;
    padding-right: 20px;
}

.anime_text {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 7.5s linear infinite;
    color: #6A1B9A !important;
}

@keyframes marquee {
    0%   { 
        text-indent: 0em;
    }
    100% { 
        text-indent: -105em;
    }
}

.anime_text b {
    font-weight: 800;
}

.box-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
    border: 1px solid #37474F;
}

#subnav {
    padding-bottom: 1rem
}
