header {
    background-image: linear-gradient(141deg,rgba(158, 0, 55, 0.88) 0,rgba(0, 129, 209, 0.63) 71%,rgba(0, 235, 181, 0.67) 100%), url('../img/versutian-blurred.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff
}

.thick {
    font-weight: 600
}

#navbar-cont {
    display: block
}

.navbar-nav {
    display: inline-block;

}

.brown_background {
    background-color: #BCAAA4
}

.brown_background:hover {
    background-color: #BCAAA4
}

.navbarDropdownLinkSpan {
    font-size: 20px
}

#navbarDropdownMenuLink {
    color: rgba(0, 0, 0, 1)
}

.navbar-brand {
    margin-right: 0
}

.flag {
  max-height: 39px;
  max-width: 60px
}

.effect {
    max-height: 39px;
}

.big-item {
    padding-top: 7.5vh;
    min-height: 20vh;
}

.slate_background {
    background-image: linear-gradient(141deg,rgb(38,50,56) 0,rgb(84,110,122) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.slate_background:hover {
    color: #fff;
}

.firey_passion {
    background-image: linear-gradient(141deg,rgba(236, 64, 122, 0.88) 0,rgba(194,24,91, 0.67) 100%), url('../img/firey_passion.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.firey_passion:hover {
    color: #fff
}

.box-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
    border: 1px solid #37474F;
}

#subnav {
    padding-bottom: 1rem
}
